html {
    width: 100vw;
    height: 100vh;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#Unity-Game {
    width: 100vw;
    height: 100vh;
}
#unity-container {
    width: 100vw;
    height: 100vh;
}